# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# Vite build directory
.vite/
# npm + other dependencies
node_modules/
vendor/

# Local KV database
data/*.sqlite
data/*.sqlite-*

.DS_Store
.obsidian
tmp/
