@import 'tailwindcss';

/* Scan for Tailwind classes in these directories */
@source '../../../packages/ui/**/*.tsx';

.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}
